@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-custom-color;
}

.loader {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
